<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">
      NHibernate.Driver.SqlClientDriver
    </property>
    <property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
    </property>
    <property name="dialect">
      NHibernate.Dialect.MsSql2012Dialect
    </property>
    <property name="connection.connection_string">
      Server=.\sqlexpress;Database=loja;User Id=sa;Password=C0g1t0.3rg0.5um*;
    </property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="cache.use_second_level_cache">true</property>
    <!--Para setar o cache provider, depois de instalado o plugin, devemos informar o nome da classe e o nome do assembly da classe do provedor de cache-->
    <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</property>
    <!--Para setar o NHibernate para cachear resultados de queries, utilizamos a seguinte propriedade: -->
    <property name="cache.use_query_cache">true</property>
  </session-factory>
</hibernate-configuration>