article {
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 30px;
}

.link-more {
    font-size: 120%;
    padding: 10px;
    margin: 20px 0px;
    background-color: #E6E7E8;
    display: block;
    text-align: center;
}
