/*Podemos utilizar como seletor qualquer tag, id ou classe. Ids são identificados com cerquilha (#) e classes com ponto (.).*/
body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;/*Deixa as linhas de texto com 1.5x o tamanho da fonte.*/
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;/*Pode-se colocar, separando com vírgulas, as opções de: fontes ("Arial") ou tipos de fontes (sans-serif), para o caso de o usuário não ter alguma das fontes utilizadas instalada*/
}
    
.titulo-principal{
/*main h1{Para pegar os H1 de dentro do MAIN, utiliza-se dessa forma, separado por espaço*/
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid #000;
    font-size: 60px;
    text-transform: uppercase;
}

h2{
    font-size: 30px;
    clear: both;
}

p{
    text-align: justify;
    margin: 20px 0;
}

.navegacao-site{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 310px;
    width: 15%;
}

.navegacao-site h1{
    text-transform: uppercase;
}

#rodape-pagina{
    background-color: #000;
    color: #F2FFFC;
    padding: 10px;
    clear: both;/*Clearfix*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a{
    color: #F2FFFC;    
}

main a{
    color: #851944;
}

.navegacao-site a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}


aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.icones-sociais li{
    display: inline-block;
    /*Display inline impossibilita regular o tamanho do elemento, pois ele pega o tamanho da fonte.
      Para que seja possível regular a altura, devemos utilizar o display inline-block*/
}
   
.icones-sociais a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    /*Image replacement. Mover o texto para fora da tela, para exibir somente a imagem no <a>.
    Mantendo o texto e somente deslocando-o conseguimos manter a página acessível a leitores de tela.*/
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

.conteudo-principal{
    width: 720px;
    margin: 0 auto; /*Margem 0 para top e bottom, e auto para left e right*/
    padding: 30px 0;
    padding-bottom: 80px;
}

strong{
    font-weight: bold;    
}

em{
    font-style: italic;
}

.navegacao-site, .minha-foto{
    float: right;   
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    box-sizing: border-box;
}

main{
    float: left;
    width: 85%;
}

.minha-foto{
    position: absolute;/*Este posicionamento remove o elemento do fluxo da página.*/
    top: 0;
    right: 0;
}

