/*Podemos utilizar como seletor qualquer tag, id ou classe. Ids são identificados com cerquilha (#) e classes com ponto (.).*/
body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;/*Pode-se colocar, separando com vírgulas, as opções de: fontes ("Arial") ou tipos de fontes (sans-serif), para o caso de o usuário não ter alguma das fontes utilizadas instalada*/
}
    
main h1{/*Para pegar os H1 de dentro do MAIN, utiliza-se dessa forma, separado por espaço*/
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
}

p{
    text-align: justify;
}

blockquote{
    background-color: #D9E5E3;    
}

aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
}

footer{
    background-color: #000;
    color: #F2FFFC;
}

nav a{
    color: #F2FFFC;    
}

main a{
    color: #851944;
}

aside a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}