.portfolio li{
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    border: black solid 8px;
    background-color: #FAFFFC;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.portfolio img {
    width: 100%;
}